body {
  background: rebeccapurple;
  min-height: 100vh;
}

h1 {
  margin-top: 10rem;
  color: white;
  text-align: center;
}

p {
  color: white;
  text-transform: capitalize;
}

span {
  color: #071e3d;
  text-transform: capitalize;
}

#message {
  color: palegreen;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  border: none;
}

input:focus {
  outline: #071e3d;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
  background-color: #071e3d;
  color: white;
}


